# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
android/
ios/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
expo/dev/logs/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Capacitor
capacitor.config.json

# APK / Build outputs
*.apk
*.aab
*.ipa